doctype
html
    include ../main/head.pug
    body
        include ../main/popups.pug
        .wrap
            .w1
                include ../main/header.pug
                main.wrap-avtomobilnye-masla-catalog
                    h1= seo.h1
                    .wrap-filter-avtomobilnye-masla
                        h3 Параметры товара
                        aside.filter-avtomobilnye-masla
                            .wrap-attr-oil-filter
                                -var count = 0;
                                -for(var key in selectedAttr) {
                                    -if(count == 0){
                                        .row-clear-oil-filter
                                            a(
                                            class='clear-product-filter'
                                            rel="nofollow"
                                            href='/catalog/antifreeze/'
                                            ) убрать все фильтры
                                    -}
                                    -count++
                                -}
                                -if(filterElements.attr_manufacturer){
                                    span Производитель
                                    -for(var i = 0; i < filterElements.attr_manufacturer.length; i++){
                                        -for(var key in filterElements.attr_manufacturer[i]){
                                            .row-attr-products-filter
                                                input(
                                                    type='checkbox',
                                                    checked= filterElements.attr_manufacturer[i]['isChecked']
                                                )
                                                a(
                                                    class='link-avtomobilnye-masla'
                                                    data-href= key
                                                    data-checked= filterElements.attr_manufacturer[i]['isChecked']
                                                    rel="nofollow"
                                                    href='/'
                                                )= filterElements.attr_manufacturer[i][key]
                                            -break;
                                        -}
                                    -}
                                -}
                                -if(filterElements.attr_antifreeze_class){
                                    span Класс антифриза
                                    -for(var i = 0; i < filterElements.attr_antifreeze_class.length; i++){
                                        -for(var key in filterElements.attr_antifreeze_class[i]){
                                            .row-attr-products-filter
                                                input(
                                                    type='checkbox',
                                                    checked= filterElements.attr_antifreeze_class[i]['isChecked']
                                                )
                                                a(
                                                    class='link-avtomobilnye-masla'
                                                    data-href= key
                                                    data-checked= filterElements.attr_antifreeze_class[i]['isChecked']
                                                    rel="nofollow"
                                                    href='/'
                                                )= filterElements.attr_antifreeze_class[i][key]
                                            -break;
                                        -}
                                    -}
                                -}
                                -if(filterElements.attr_color){
                                    span Цвет антифриза
                                    -for(var i = 0; i < filterElements.attr_color.length; i++){
                                        -for(var key in filterElements.attr_color[i]){
                                            .row-attr-products-filter
                                                input(
                                                    type='checkbox',
                                                    checked= filterElements.attr_color[i]['isChecked']
                                                )
                                                a(
                                                    class='link-avtomobilnye-masla'
                                                    data-href= key
                                                    data-checked= filterElements.attr_color[i]['isChecked']
                                                    rel="nofollow"
                                                    href='/'
                                                )= filterElements.attr_color[i][key]
                                            -break;
                                        -}
                                    -}
                                -}
                                -if(filterElements.attr_capacity){
                                    span Емкость, л
                                    -for(var i = 0; i < filterElements.attr_capacity.length; i++){
                                        -for(var key in filterElements.attr_capacity[i]){
                                            .row-attr-products-filter
                                                input(
                                                    type='checkbox',
                                                    checked= filterElements.attr_capacity[i]['isChecked']
                                                )
                                                a(
                                                    class='link-avtomobilnye-masla'
                                                    data-href= key
                                                    data-checked= filterElements.attr_capacity[i]['isChecked']
                                                    rel="nofollow"
                                                    href='/'
                                                )= filterElements.attr_capacity[i][key]
                                            -break;
                                        -}
                                    -}
                                -}
                    .wrap-avtomobilnye-masla-products-list
                        div(class='avtomobilnye-masla-products-list clearfix')
                            -for(var i = 0; i < products.length; i++){
                                div(class='avtomobilnye-masla-product clearfix')
                                    .wrap-avtomobilnye-masla-product-image
                                        a(href= '/products/' + products[i].product_url)
                                            img(src= products[i].img_url)
                                    .wrap-desc-avtomobilnye-masla
                                        h2
                                            a(href='/products/' + products[i].product_url)= products[i].name
                                    .wrap-avtomobilnye-masla-buying-part
                                        span= products[i].price + ' грн'
                                        button(
                                            class='button-add-to-cart'
                                            data-product-id= JSON.stringify(products[i])
                                        ) Купить 
                            -}
                        -if(pagesPaginator.length > 0){
                            .avtomobilnye-masla-catalog-pages-paginator
                                span Страницы:
                                ul
                                    -for(var i = 0; i < pagesPaginator.length; i++){
                                        -if(pagesPaginator[i]['isActive']){
                                            li(class='selected')
                                                a(href= pagesPaginator[i]['href'])= pagesPaginator[i]['name']
                                        -}else{
                                            li
                                                a(href= pagesPaginator[i]['href'])= pagesPaginator[i]['name']
                                        -}
                                    -}
                        -}
                    .wrap-description-category-part
                        -if(seo.text){
                            p= seo.text
                        -}
            include ../main/footer.pug
        script(type='text/javascript', src='/static/js/catalog.js')