doctype
html
    include ../main/head.pug
    body
        include ../main/popups.pug
        .wrap
            .w1
                include ../main/header.pug
                main.wrap-avtomobilnye-masla-catalog
                    h1 Антифризы
                    .wrap-filter-avtomobilnye-masla
                        h3 Параметры товара
                        aside.filter-avtomobilnye-masla
                            form(id='filter-avtomobilnye-masla', action='./filter')
                                span Производитель
                                -for(var i = 0; i < filter.attr_manufacturer.length; i++){
                                    .row-avtomobilnye-masla-filter
                                        input(
                                            type='checkbox'
                                            id= 'attr_manufacturer_' + i
                                            name='attr_manufacturer'
                                            value= filter.attr_manufacturer[i].name
                                            class='checkbox-avtomobilnye-masla'
                                            checked=filter.attr_manufacturer[i].checked
                                            )
                                        label(for= 'attr_manufacturer_' + i)= filter.attr_manufacturer[i].name
                                -}
                                span Класс антифриза
                                -for(var i = 0; i < filter.attr_antifreeze_class.length; i++){
                                    .row-avtomobilnye-masla-filter
                                        input(
                                            type='checkbox'
                                            id= 'attr_antifreeze_class_' + i
                                            name='attr_antifreeze_class'
                                            value= filter.attr_antifreeze_class[i].name
                                            class='checkbox-avtomobilnye-masla'
                                            checked=filter.attr_antifreeze_class[i].checked
                                        )
                                        label(for= 'attr_antifreeze_class_' + i)= filter.attr_antifreeze_class[i].name
                                -}
                                span Цвет антифриза
                                -for(var i = 0; i < filter.attr_color.length; i++){
                                    .row-avtomobilnye-masla-filter
                                        input(
                                            type='checkbox'
                                            id= 'attr_color_' + i
                                            name='attr_color'
                                            value= filter.attr_color[i].name
                                            class='checkbox-avtomobilnye-masla'
                                            checked=filter.attr_color[i].checked
                                        )
                                        label(for= 'attr_color_' + i)= filter.attr_color[i].name
                                -}
                                span Емкость, л
                                -for(var i = 0; i < filter.attr_capacity.length; i++){
                                    .row-avtomobilnye-masla-filter
                                        input(
                                            type='checkbox'
                                            id= 'attr_capacity_' + i
                                            name='attr_capacity'
                                            value= filter.attr_capacity[i].name
                                            class='checkbox-avtomobilnye-masla'
                                            checked=filter.attr_capacity[i].checked
                                        )
                                        label(for= 'attr_capacity_' + i)= filter.attr_capacity[i].name
                                -}
                    .wrap-avtomobilnye-masla-products-list
                        div(class='avtomobilnye-masla-products-list clearfix')
                            -for(var i = 0; i < products.length; i++){
                                div(class='avtomobilnye-masla-product clearfix')
                                    .wrap-avtomobilnye-masla-product-image
                                        a(href= products[i].product_url)
                                            img(src= products[i].img_url)
                                    .wrap-desc-avtomobilnye-masla
                                        h2
                                            a(href='/products/' + products[i].product_url)= products[i].name
                                    .wrap-avtomobilnye-masla-buying-part
                                        span= products[i].price + ' грн'
                                        button(
                                            class='button-add-to-cart'
                                            data-product-id= JSON.stringify(products[i])
                                        ) Купить 
                            -}
                        -if(pagesPaginator.numPages > 1){
                            .avtomobilnye-masla-catalog-pages-paginator
                                span Страницы:
                                ul
                                    -for(var i = 1; i < pagesPaginator.numPages + 1; i++){
                                        -if(pagesPaginator.activePage == i){
                                            li(class='selected')
                                                a(href= '?page=' + i)= i
                                        -} else{
                                            li
                                                a(href= '?page=' + i)= i
                                        -}
                                    -}
                        -}
            include ../main/footer.pug
        script(type='text/javascript', src='/static/js/catalog.js')